# Data Science Tools and Escosystem

In this Notebook, Data Science Tools and Ecosystem are summarized

Some of the popular language that data Scientists use are: 
1. Python
2. Julia
3. R
4. Scala
5. Java
6. C/C++

Some of the most commonly used libraries for data scientists are:
1. Pandas
2. Numpy
3. Matplotlib
4. Tensor Flow
5. Pytorch

|Data Science Tools| 
|------------------|
| Jupyter Notebook | 
| VS code          | 
| R Studio         |
| GitHub           |

Below are a few example of evaluating arithmetic expressions in Python

In [12]:
#This is a simple arimethic expression to mutiply then add integers 
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

In this notebook, we will work with fundamental tools and techniques to develop data science skills.  
The main objectives are:

* Explore and analyze datasets using Pandas.  
* Apply basic data cleaning and transformation operations.  
* Visualize relevant information with Matplotlib and Seaborn
* Practice using functions and control structures in Python.  
* Prepare data for machine learning models.  
* Document the analysis process with well-structured text and code cells

# Autor 
## A. Kolker